$ancho:550px;
$margen:17.5px;
$altura:125px;
$subtitulos:(
  subtitulo1:snow,
  subtitulo2:steelblue,
  subtitulo3:#4d4de0
);
@each $red, $color in $subtitulos {
  .btn--#{$red} {
      color: $color;
  }
}

.logo{
  width: $ancho/5;
  height: 60px;
}

.titulo {
    font-size: 50px; 
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
}
.card{
  width: 50rem !important;
  height: 200px !important;
}
.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.materpel{
    border: double;
    height: 350px;
    margin-left: $margen*2;
    margin-right: $margen*2;
    background-image: url(../cosas/imagenes/logo2.png);
    background-position-x: auto;
    background-position-y: center;
    overflow: visible;
    object-fit: cover;
}

.materpel__eslogan{
    font-size: 30px; 
    font-weight: bold;
    margin-top: 270px;
    margin-left: 330px;
    color: snow;
}

.menu{
    background-color:lightblue;
    border: solid 3px gray;
    text-decoration: none;
    color: bisque;
    justify-items: stretch;
}

.submenu{
    background-color: lightblue;
    width: 100%;
    border: solid 3px gray;
    color: bisque;
    text-decoration: none;
}

.header{
align-items: center;
text-align: center;
}
.subtitulo {
    font-size: 30px; 
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    color:steelblue;
    padding-left: 15px;
}

.subtitulo--productos{
  font-size: 30px;
  color: rgb(77, 77, 224);
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  padding-left: 20px;
}

.texto{
    font-size: 17px; 
    margin: 15px 10px 15px 10px;
    text-align: justify;
}

.texto--destacado{
  font-size: 17px; 
  margin: 10px 50px 10px 50px;
  text-align: justify;
}

.texto--destacado2{
  font-size: 17px; 
  margin: 0px 0px 0px 10px;
  text-align: justify;
}

.pie{
    font-size: 12px; 
    color: navy;
    text-align: center;
    margin-top: 100px;
}

.fondo{
    background: rgb(238,255,254);
background: linear-gradient(90deg, rgba(238,255,254,1) 0%, rgba(192,244,255,1) 50%, rgba(130,205,221,1) 100%);
}

body{
    font-family: 'Nobile', sans-serif;
    word-spacing: 1.5px;
}

.gridImagenTexto{ 
    padding: 5px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
}

.imgGrid{
    width: 300px;   
    height: $altura+125px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.img{
    width: 500px;
    height: 300px;
}

.imagen__destacada{
width: 450px;
height: 300px;
margin-left: 55px;
}
.textoFoto{
  display: flex;
  justify-content: space-between;
}

hr {
    height: 1.5px;
    background-color: rgb(107, 2, 107);
    width: 50%;
}

.ubicacion{
display:flex ;
justify-content: space-around;
}

.ubicacion__mapa{
    margin-left: 10px;
}

.carousel{
width: 500px;
height: 550px;
margin-left: 10px;
}

.carousel-control-next, .carousel-control-prev {
margin-bottom: 250px;
}

.card{
    padding: 5px;
    margin-top: 25px;
    margin-left: 270px;
    width: 400px;
    height: 230px;
}

.accordion{
    width: 1345px;
}

.accordion-item{
  margin-left: 50px;
  margin-right: 50px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }

  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 100px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }

.animacionImg:hover{
    transform: scale(2,1);
    transition-delay: 0.2s;
    transition-duration: 0.8s;
    transition-timing-function: linear;
}

@media (max-width: 768px){
    .logo{
      margin-right: 10px;
      margin-left: 10px;
      width: 165px;
      height: 95px;
    }
  
  .pie{
        font-size: 15px;
    }
    
    .imgGrid{
        width: 200px;   
        height: 200px;
    }
    
    .materpel{
            background-repeat: no-repeat;
            background-size: 105%;
    }  

.materpel__eslogan{
  font-size: 30px;
  margin-right: 130px;
  margin-left: 150px;
  margin-bottom: 100px;
  margin-top:225px;
  text-align: center;
}

.card{
  margin-left: 50px;
  margin-right: 53px;
height: 255px !important;
width: 41rem !important;

.card-title{
  font-size: 23.5px;
}
.card-subtitle{
  font-size: 22px;
}
.card-link{
  font-size: 17px;
}
.card-text{
  font-size: 20px;
}
}
}
     @media (max-width: 320px){
      .logo{
        height: 50px;
        width: 100px;
      }  
      .pie{
        font-size: 10px !important;
        text-align: center;
        }
      .materpel{
        background-repeat: no-repeat;
        background-size: 105%; 
        height: 128px !important;
        }
      .materpel__eslogan{
        font-size: 13px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 80px !important;
        margin-bottom: 20px !important;
        text-align: center;
        }
      .card{
        width: 280px !important;
        margin-left: 20px !important;
        }
        .card-title{
          font-size: 15px !important;
        }
        .card-subtitle{
          font-size: 13px !important;
        }
        .card-link{
          font-size: 12px !important;
        }
        .card-text{
          font-size: 13px !important;
        }
      }


        @media (max-width: 1024px){
            .pie{
                font-size: 23px;
                text-align: center;
            }
    
            .header{
              font-size: 24px;
            }

            .materpel{
              background-repeat: no-repeat;
              background-size: 105%;
            }
            .materpel__eslogan{
              text-align: center;
              margin-right: 170px !important;
              margin-left: 165px !important;
            }
            .logo{
              width: 170px;
              height: 110px;
            }
            .card1{
              height:300px !important;
            }
            .card2{
              height:380px !important;
            }
            .card{
              margin-left: 100px !important;
              margin-right: 50px !important;
            }

            .card-title{
              font-size: 30px !important;
            }
            .card-subtitle{
              font-size: 28px !important;
            }
            .card-link{
              font-size: 25px !important;
            }
            .card-text{
              font-size: 28px;
            }
        }
