.cards{
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    border-width: 1px;
    background-color: #067db4;
}

.cards__header{
    border-bottom-style: solid;
    border-width: 1px;
    height: 220px;
}

.cards__image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.cards__body{
    background-color: #0794be;
    color: black;
}

.cards__title{
    font-size: 16px;
}

.cards__description{
    font-size: 16px;
}

.cards__price{
    font-size: 16px;
}

.cards__footer{
    border-top-style: solid;
    border-width: 1px;
    background-color: #00569d;
    color: black;
    border-radius: 5px;
}

.cards__stock{
    font-size: 16px;
}

.cards__button{
    background-color: #ffffff;
    border-color: black;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}