.cards{
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    border-width: 1px;
    background-color: #00379d;
}

.cards__header{
    border-bottom-style: solid;
    border-width: 1px;
    
}

.cards__image{
    font-size: 16px;
}

.cards__body{
    background-color: #51bada;
}

.cards__title{
    font-size: 16px;
}

.cards__description{
    font-size: 16px;
}

.cards__price{
    font-size: 16px;
}

.cards__footer{
    border-top-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}

.cards__stock{
    font-size: 16px;
}