.NavBar{
    background-color: #2e91d3;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    align-items: center;
    height: 100%;
}

.NavBarbutton{
    background-color: #000000;
    color:azure;
    border-color: rgb(50, 177, 177);
    width: 100px;
    height: 50px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 3px;
    border-radius: 5px;
}

.NavBarmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.cartWidget{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 80%;
}

.cartProducts{
    margin-right: 5px;
    color: black;
    background-color: green;
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.number{
    margin-left: 5px;
}
