.NavBar{
    background-color: darkgray;
    text-align: center;
    height: 80px;
}

.NavBarbutton{
    background-color: rgb(60, 129, 219);
    border-color: rgb(24, 94, 134);
    color: rgb(0, 1, 2);
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.Titulo{
    font-size: 24px;
    color: rgb(29, 28, 28);
}